dist: bionic
language: python
python:
- "3.6"

addons:
  apt:
    packages:
    - chrpath
    - diffstat
    - texinfo

env:
  global:
  - MACHINE=intel-corei7-64
  - DISTRO=acrn-demo-sos

install:
 - git clone --depth=10 --branch=dunfell git://git.yoctoproject.org/meta-intel ../meta-intel
 - git clone --depth=50 --branch=dunfell git://git.yoctoproject.org/poky ../poky
 - . ../poky/oe-init-build-env $TRAVIS_BUILD_DIR/build
 - bitbake-layers add-layer ../../meta-intel
 - bitbake-layers add-layer ../../meta-acrn

script:
 - yocto-check-layer ../../meta-acrn --dependency ../../meta-intel 
 - bitbake packagegroup-acrn --parse-only
 - bitbake packagegroup-acrn --dry-run
 - devtool latest-version acrn-hypervisor
